
#container {
  display: grid;
  grid-template-columns: 70% auto;
  height: 100%;
  #content {
      padding: 2vw 2.5vw;

      ul {
          list-style-type: none;
          margin:0;padding:0;          
      }
  }
}
p{
   font-size: 1vw;
}