<div>
  <h1 style="font-family:walt;display:unset;font-size:5vw;">Book Shelf</h1>
  
  <span *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button (click)="auth.logout()" mat-button>Logout</button>
  </span>
    <ng-template #showLogin>
        <button  (click)="auth.login()" type="button"> Login With <span style="font-family:walt">Google</span></button>
    </ng-template>
<hr>
<div id="container">
        <app-list></app-list>
        
        <div id="content" style="padding-right:0;">
                <div style="border-left:1px solid #000;height:100%;padding:2vw;padding-right:0;"><app-user></app-user></div>
          
        </div>
      </div>  
</div>
