<input type="text" [(ngModel)]="valuePass" placeholder="Books / Authors / ISBN" >
<button type="button" (click)="getter()" > Search</button>
<br>

<p>Some Popular Searches . . .Just Click to Add to Your Collection</p>
<ul>
    <li *ngFor="let data of datas$;let i =index">
      <a (click)="addProduct(i)" >{{ data.volumeInfo.title }}</a>
      <ul>
          <p><strong>Author : </strong> {{ data.volumeInfo.authors }}</p>
          <p><strong>Average rating : </strong> {{ !data.volumeInfo.averageRating? "NA" : data.volumeInfo.averageRating}} / 5</p>
          <p style="text-align:justify;"><strong>Description : </strong> {{ data.volumeInfo.description }}</p>
        </ul>
    </li>
  </ul>